<div class="input-container csv">
    <p>Image</p>
    <input class="content csv-image imgUrl" placeholder="Image URL"/></br>
    <input class="content csv-target csvTargetUrl" placeholder="TargetURL"/></br>
    <input class="content csv-link csvLinkName" placeholder="Clickthrough Link Name"/>
    <button class="remove-image button"><span>X</span></button>
</div>