<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.embed.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.oembed.css') }}"/>

    <script>
      function init() {
        $("a.embed").oembed();
      }
      window.onload = init;
    </script>          

  </head>
  <body>

    <div class="container"> <!-- container start -->
      <div class="header">
        <h3 class="text-muted">Social News Generator: Trending Thoughts</h3>
      </div>
      <hr/>

      <div style="width: 100%;">

         <div style="float:left; width: 50%">
          Top 10 Positive Items:<br />
          <ul>
          {% for item in jsondata_left %}
            <li>Sentiment: {{item.sentiment}} 
                Polarity: {{item.polarity}}  
                Subjectivity: {{item.subjectivity}}  
                Favourites: {{item.favorite_count}}  
                Shared: {{item.share_count}}  
                {% if item.source == "twitter" %}
                  {{oembed_tweet(item.item_id)}}
                {% else %}
                  <a href="{{item.item_url}}" class="embed"></a>
                {% endif %}
            </li>
          {% endfor %}
          </ul>
         </div> <!-- end div left -->

         <div style="float:right; width: 50%">
          Top 10 Negative Items:<br />
          <ul>
          {% for item in jsondata_right %}
            <li>Sentiment: {{item.sentiment}}  
                Polarity: {{item.polarity}}  
                Subjectivity: {{item.subjectivity}}  
                Favourites: {{item.favorite_count}}  
                Shared: {{item.share_count}}
                {% if item.source == "twitter" %}
                  {{oembed_tweet(item.item_id)}}
                {% else %}
                  <a href="{{item.item_url}}" class="embed"></a>
                {% endif %}
              </li>
          {% endfor %}
          </ul>          
         </div> <!-- end div right -->

      </div>
      <div style="clear:both"></div>



      <div>
      This is the JSON data, as a string:<br />
      <pre>{{jsondata_left}} {{jsondata_right}}</pre>
      </div>
 

    </div> <!-- end container -->

    <div> <!-- wikipedia embed -->
      <a href="https://en.wikipedia.org/wiki/United_States_presidential_election,_2016" class="embed"></a>
    </div>



    <!-- FOR EMBED-JS, CSS, & JQUERY, OEMBED  -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.jscroll.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='jquery.embed.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.oembed.js') }}"></script>


    <!-- FOR JQUERY, UNDERSCORE, BACKBONE -->
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>

  </body>
</html>


