<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.embed.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.oembed.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='c3.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='animations.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='purely-css-buttons.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fdw-simple-button.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}"/>

    <!-- For PubNub -->
    <script type=text/javascript src="{{url_for('static', filename='pubnub-3.7.13.min.js') }}"></script>
    <script src="https://cdn.pubnub.com/pubnub-dev.js"></script>

    <style>
      div.borderOne {
        border-style: solid;
        background: #98bf21;
        border-color: #8AC007;
      } 
    </style>


    <script>
      var URL = 'http://localhost:5000/';

      /* refresh charts */
      function Get(yourUrl){
        var Httpreq = new XMLHttpRequest();
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;          
      }


      function refreshHashtagCloud() {
        var jsonData = JSON.parse(Get(URL + 'api/chart/hashtagcloud'));
        console.log(jsonData);

        if($('#wordCloud').length) {
          $('#wordCloud').html('');
        }
        initHashCloud(jsonData);
      }


// expand / colapse
// $('#elementId').visible()


      /* word cloud start */
      function initHashCloud(wordsData) {
        var fill = d3.scale.category20();
        var layout = d3.layout.cloud()
            .size([1200, 500])
            .words(wordsData)
            .padding(5)
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function(d) { return d.size; })
            .on("end", draw);
        layout.start();
        function draw(words) {
          d3.select("#wordCloud").append("svg")
              .attr("width", layout.size()[0])
              .attr("height", layout.size()[1])
            .append("g")
              .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
            .selectAll("text")
              .data(words)
            .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .text(function(d) { return d.text; });
        }
      }
      /* word cloud end */

      /* charts c3 start */
      function initTimeseries() {
        var chart_ts = c3.generate({
          bindto: '#chart_timeseries',
          data: {{timeseries_data|safe}},
          axis: {
            x: {
                label: 'Date',
                type: 'timeseries',
                tick: {
                      fit: true,
                      format: '%Y-%m-%d'
                }
            },
            y: {
                label: 'No. of Retweets'
            }
          }
        });
      }
      function initBarchart() {
        var chart_bar = c3.generate({
          bindto: '#chart_bar',
          data: {{bar_data|safe}},
          grid: {
            y: {
              lines:[{value:0}]
            }
          },
          axis: {
            x: {
                type: 'category',
                categories: {{bar_categories|safe}}
            },
            y: {
                label: '% of Retweets'
            }
          }
        });
      }
      /* charts c3 end */


      /* TWEET EMBED */
      function renderItem(data) {
        if (data.important == 't') {
          var itemString = ('<li id="twitter_li_' + data.item_id + 
            '" class="bounce"> <div id="twitter_' + data.item_id + '" class="borderOne"> </div>' 
            + "</li>")
        } else {
          var itemString = ('<li id="twitter_li_' + data.item_id + 
            '" class="fadeIn"> <div id="twitter_' + data.item_id + '"></div>' + "</li>")
        }
        console.log(itemString)
        return $(itemString);
      }

      function renderTweetEmbed(data) {
        twttr.widgets.createTweet(
          data.item_id,
          document.getElementById('twitter_'+data.item_id),
          {
            theme: 'light'
          }
        );
      }

      function renderAndPrepend(data) {
        // specify correct container (e.g. #positiveItemData)
        var containerID = '#' + data.sentiment + 'ItemData';
        var listItemID = '#twitter_li_' + data.item_id;
        //remove li if already exists (bring to top)
        if($(containerID + ' ' + listItemID).length) {
          $(containerID + ' ' + listItemID).remove();
        }
        $(containerID).prepend(renderItem(data));
        renderTweetEmbed(data);
      }
      /* TWEET EMBED END */

      /* PubNub start */
      var channel = 'pubnub-sng';
      var pubnub = PUBNUB.init({
        subscribe_key: 'sub-c-5bbb04f8-1108-11e5-91a9-0619f8945a4f'
      });

      function getStreamData() {
        pubnub.subscribe({
          channel: channel,
          callback: renderAndPrepend
        });
      }
      /* PubNub end */


      /* load top tweets saved in db then start pubnub */
      var tweetData = {{tweet_data|safe}};

      function start() {
        for (i = tweetData.length-1; i >= 0; i--) {
          renderAndPrepend(tweetData[i])
        }
        getStreamData();

        var wordsData = {{hashtag_data|safe}};
        initHashCloud(wordsData);
        // initTimeseries();
        // initBarchart();
      }

      window.onload = start;

    </script>          



  </head>
  <body>
    <meta name="twitter:widgets:csp" content="on">

    <div class="container"> <!-- container start -->
      <div class="header">
        <div class="tags" id="tags">
          <ul class="tags-list">
            <li><a href="#" class="tag">Bush</a></li>
            <li><a href="#" class="tag">Carson</a></li>
            <li><a href="#" class="tag">Christie</a></li>
            <li><a href="#" class="tag">Clinton</a></li>
            <li><a href="#" class="tag">Cruz</a></li>
            <li><a href="#" class="tag">Graham</a></li>
            <li><a href="#" class="tag">Jindal</a></li>
            <li><a href="#" class="tag">Paul</a></li>
            <li><a href="#" class="tag">Perry</a></li>   
            <li><a href="#" class="tag">Sanders</a></li>
            <li><a href="#" class="tag">Trump</a></li>
            <li><a href="#" class="tag">Walker</a></li>                
          </ul>
        </div>

        <br></br>

        <center>
          <h1> <strong>Social</strong> News Generator</h1>
        </center>
      </div>

      <center>
        <a onclick="refreshHashtagCloud()" class="btn btn-blue">Refresh</a>
      </center>

      <div id="wordCloud" class="pullUp"></div>
      <p></p>

      <div id="chart_timeseries" class="pullUp"></div>
      <p></p>

      <div id="chart_bar" class="pullUp"></div>
      <p></p>

      <div style="width: 100%;">

         <div id="positiveDiv" style="float:left; width: 33%">
          <center> <h3> Trending Positive Sentiment </h3> </center>
          <ul id="positiveItemData" style="list-style-type: none;">

          </ul>
         </div> <!-- end div left -->

         <div id="neutralDiv" style="float:left; width: 33%">
          <center> <h3> Trending Neutral Sentiment </h3> </center>
          <ul id="neutralItemData" style="list-style-type: none;">
          </ul>          
         </div> <!-- end div center -->


         <div id="negativeDiv" style="float:left; width: 33%">
          <center> <h3> Trending Negative Sentiment </h3> </center>
          <ul id="negativeItemData" style="list-style-type: none;">
          </ul>          
         </div> <!-- end div right -->

      </div>
      <div style="clear:both"></div>
    </div> <!-- end container -->



    <!-- FOR EMBED-JS, CSS, & JQUERY, OEMBED  -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.jscroll.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='jquery.embed.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.oembed.js') }}"></script>

    <!-- Load d3.js and c3.js -->
    <script type=text/javascript src="{{url_for('static', filename='d3.min.js') }}" charset="utf-8"></script>
    <script type=text/javascript src="{{url_for('static', filename='c3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='d3.layout.cloud.js') }}"></script>

    <!-- FOR JQUERY, UNDERSCORE, BACKBONE -->
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  </body>
</html>


