<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.embed.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.oembed.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='c3.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='animations.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fdw-simple-button.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='obvious-buttons.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css') }}"/>

    <!-- For PubNub -->
    <script type=text/javascript src="{{url_for('static', filename='pubnub-3.7.13.min.js') }}"></script>
    <script src="https://cdn.pubnub.com/pubnub-dev.js"></script>

    <script>
      var URL = 'http://localhost:5000/';
      var filter = 'all';
      var subscribe = true;
      var tweetData = {{tweet_data|safe}}; 

      /* refresh charts */
      function Get(yourUrl){
        return $.ajax({type: "GET", url: yourUrl, async: false}).responseText;
      }

      function hideAllCharts() {
        if($('#wordCloud').length) {
          $('#wordCloud').html('');
        }
        if($('#chart_timeseries').length) {
          $('#chart_timeseries').html('');
        }
        if($('#chart_bar').length) {
          $('#chart_bar').html('');
        }
      }

      function refreshHashtagCloud() {
        var jsonData = JSON.parse(Get(URL + 'api/chart/hashtagcloud'));
        console.log(jsonData);
        hideAllCharts();
        initHashCloud(jsonData);
      }

      function showTimeSeries() {
        var jsonData = JSON.parse(Get(URL + 'api/chart/time'));
        console.log(jsonData);
        hideAllCharts();
        initTimeseries(jsonData.timeseries_data);
      }        

      function showBarChart() {
        var jsonData = JSON.parse(Get(URL + 'api/chart/bar'));
        console.log(jsonData);
        hideAllCharts();
        initBarchart(jsonData.bar_data,jsonData.bar_categories);
      } 
      /* refresh charts end */


      /* filter tweets (by candidate) start */
      function returnBtnColor() {
        if (filter != 'all') {
          var prevBtn = document.getElementById('button'+filter);
          prevBtn.style.backgroundColor = "";
        }
      }

      function filterLists(c,array,max) {
        for (i = 0; i < max; i++) {
          if ($(array[i]).hasClass(c)) {
            $(array[i]).show();
          }
          else {
            $(array[i]).hide();
          }
        }
      }

      function showTweet(array,max) {
        for (i = 0; i < max; i++) {
            $(array[i]).show();
          }
      }

      function filterTweet(candidate) {
        returnBtnColor()
        var c = candidate.substr(candidate.indexOf(' ')+1);
        if (c==filter) {
          showAll();
          return;
        }
        var posArray = $('#positiveItemData li');
        var posCount = $('#positiveItemData li').length;
        var neuArray = $('#neutralItemData li');
        var neuCount = $('#neutralItemData li').length;
        var negArray = $('#negativeItemData li');
        var negCount = $('#negativeItemData li').length;
        filterLists(c,posArray,posCount);
        filterLists(c,neuArray,neuCount);
        filterLists(c,negArray,negCount);
        filter = c;

        var btn = document.getElementById('button'+c);
        btn.style.backgroundColor = "#CCCCCC";
      }

      function showAll() {
        returnBtnColor()
        var posArray = $('#positiveItemData li');
        var posCount = $('#positiveItemData li').length;
        var neuArray = $('#neutralItemData li');
        var neuCount = $('#neutralItemData li').length;
        var negArray = $('#negativeItemData li');
        var negCount = $('#negativeItemData li').length;
        showTweet(posArray,posCount);
        showTweet(neuArray,neuCount);
        showTweet(negArray,negCount);
        filter = 'all'
      }
      /* filter tweets end */

      /* word cloud start */
      function initHashCloud(wordsData) {
        var fill = d3.scale.category20();
        var layout = d3.layout.cloud()
            .size([1100, 350])
            .words(wordsData)
            .padding(5)
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Impact")
            .fontSize(function(d) { return d.size; })
            .on("end", draw);
        layout.start();
        function draw(words) {
          d3.select("#wordCloud").append("svg")
              .attr("width", layout.size()[0])
              .attr("height", layout.size()[1])
            .append("g")
              .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
            .selectAll("text")
              .data(words)
            .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .text(function(d) { return d.text; })
              // link to twitter hashtag search
              .on('mouseover', function() {    
                $(this).css('cursor','pointer');
                $(this).css('text-decoration','underline');
              })
              .on('mouseleave', function() {
                $(this).css('text-decoration','');
              })
              .on("click", function(d) {
                var url = ('https://twitter.com/search?q=' + d.text);
                console.log(url);
                window.open(url);
              });
        }
      }
      /* word cloud end */

      /* charts c3 start */
      function initTimeseries(timeseriesData) {
        var chart_ts = c3.generate({
          bindto: '#chart_timeseries',
          data: timeseriesData,
          axis: {
            x: {
                label: 'Time',
                type: 'category',
                categories: ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6']
            },
            y: {
                label: 'No. of Retweets'
            }
          }
        });
      }
      function initBarchart(barData,barCat) {
        var chart_bar = c3.generate({
          bindto: '#chart_bar',
          data: barData,
          grid: {
            y: {
              lines:[{value:0}]
            }
          },
          axis: {
            x: {
                type: 'category',
                categories: barCat
            },
            y: {
                label: '% of Retweets'
            }
          }
        });
      }
      /* charts c3 end */


      /* tweet embed start */
      function renderItem(data) {
        if (data.important == 't') {
          var itemString = ('<li id="twitter_li_' + data.item_id + 
            '" class="bounce ' + data.contestant + '"> <div id="twitter_' + data.item_id + '" class="borderOne"> </div>' 
            + "</li>");
        } else {
          var itemString = ('<li id="twitter_li_' + data.item_id + 
            '" class="fadeIn ' + data.contestant + '"> <div id="twitter_' + data.item_id + '"></div>' + "</li>");
        }
        console.log(itemString);
        return $(itemString);
      }

      function renderTweetEmbed(data) {
        twttr.widgets.createTweet(
          data.item_id,
          document.getElementById('twitter_'+data.item_id),
          {
            theme: 'light'
          }
        );
      }

      function renderAndPrepend(data) {
        // specify correct container (e.g. #positiveItemData)
        // push to front of queue and maintain max size of 20
        var containerID = '#' + data.sentiment + 'ItemData';
        var listItemID = '#twitter_li_' + data.item_id;
        if ($(containerID + ' ' + listItemID).length) {
          $(containerID + ' ' + listItemID).remove();
        } else {
          var size = $(containerID + ' li').length;
          if (size>=30) {
            $(containerID + ' li:last-child').remove();
          }
        }
        $(containerID).prepend(renderItem(data));

        // hide element if filter is on
        var c = data.contestant.substr(data.contestant.indexOf(' ')+1);
        if (filter == 'all') {
          // do nothing
        } else if (filter != c) {
          $(containerID + ' ' + listItemID).hide();
        }

        renderTweetEmbed(data);
      }
      /* tweet embed end */

      /* PubNub start */
      var channel = 'pubnub-sng';
      var pubnub = PUBNUB.init({
        subscribe_key: 'sub-c-5bbb04f8-1108-11e5-91a9-0619f8945a4f'
      });

      function getStreamData() {
        pubnub.subscribe({
          channel: channel,
          callback: renderAndPrepend
        });
      }

      function stopStreamData() {
        pubnub.unsubscribe({
          channel: channel
        });
      }

      function pauseStream() {
        var btn = $('#pauseStream');
        if (subscribe==true) {
          stopStreamData();
          subscribe=false;
          btn.html("Resume");
          btn.css("background-color", "#5bb75b");
          console.log('stream paused')
        } else {
          getStreamData();
          subscribe=true;
          btn.html("Pause");
          btn.css("background-color", "");
          console.log('stream resumed')
        }
      }
      /* PubNub end */


      /* load top tweets saved in db then start pubnub */
      function start() {
        for (i = tweetData.length-1; i >= 0; i--) {
          renderAndPrepend(tweetData[i])
        }
        getStreamData();

        var wordsData = {{hashtag_data|safe}};
        var timeseriesData = {{timeseries_data|safe}};
        var barData = {{bar_data|safe}};
        var barCat = {{bar_categories|safe}};
        initHashCloud(wordsData);

        // initTimeseries(timeseriesData);
        // initBarchart(barData,barCat);
        // setInterval(refreshHashtagCloud, 10000);
      }

      window.onload = start;
    </script>          



  </head>
  <body>
    <meta name="twitter:widgets:csp" content="on">

    <!-- sticky button -->
    <a id="pauseStream" onclick="pauseStream()" class="btn btn-inline btn-small btn-warning stickyButton">Pause</a>

    <div class="container"> <!-- container start -->
      <div class="header">

        <div class="containerLinks" id="tags" style="text-align:justify;">
          <div><a id="buttonBush" onclick="filterTweet('Jeb Bush')" class="btn btn-inline btn-small"><span>Bush</span></a></div>
          <div><a id="buttonCarson" onclick="filterTweet('Ben Carson')" class="btn btn-inline btn-small"><span>Carson</span></a></div>
          <div><a id="buttonChristie" onclick="filterTweet('Chris Christie')" class="btn btn-inline btn-small"><span>Christie</span></a></div>
          <div><a id="buttonClinton" onclick="filterTweet('Hillary Clinton')" class="btn btn-inline btn-small"><span>Clinton</span></a></div>
          <div><a id="buttonCruz" onclick="filterTweet('Ted Cruz')" class="btn btn-inline btn-small"><span>Cruz</span></a></div>
          <div><a id="buttonGraham" onclick="filterTweet('Lindsey Graham')" class="btn btn-inline btn-small"><span>Graham</span></a></div>
          <div><a id="buttonJindal" onclick="filterTweet('Bobby Jindal')" class="btn btn-inline btn-small"><span>Jindal</span></a></div>
          <div><a id="buttonPaul" onclick="filterTweet('Rand Paul')" class="btn btn-inline btn-small"><span>Paul</span></a></div>
          <div><a id="buttonPerry" onclick="filterTweet('Rick Perry')" class="btn btn-inline btn-small"><span>Perry</span></a></div>
          <div><a id="buttonSanders" onclick="filterTweet('Bernie Sanders')" class="btn btn-inline btn-small"><span>Sanders</span></a></div>
          <div><a id="buttonTrump" onclick="filterTweet('Donald Trump')" class="btn btn-inline btn-small"><span>Trump</span></a></div>
          <div><a id="buttonWalker" onclick="filterTweet('Scott Walker')" class="btn btn-inline btn-small"><span>Walker</span></a></div>
        </div>

        <br></br>
        <title>Social News Generator</title>
        <center>
          <span title="display all tweets">
            <h1 class= "title" onclick= "showAll()"> <strong>Social</strong> News Generator</h1>
          </span>
        </center>
      </div>

<br></br>
      <center>
        <a id="showHashCloudButton" onclick="refreshHashtagCloud()" class="btn btn-inline btn-large btn-info">Hash Cloud</a>
        <a id="showTimeSeriesButton" onclick="showTimeSeries()" class="btn btn-inline btn-large btn-primary">Time Series</a>
        <a id="showBarChartButton" onclick="showBarChart()" class="btn btn-inline btn-large btn-primary">Bar Chart</a>
        <div id="wordCloud" class="pullUp"></div>
        <p></p>

        <div id="chart_timeseries" class="pullUp"></div>
        <p></p>

        <div id="chart_bar" class="pullUp"></div>
        <p></p>
      </center>

      <div style="width: 100%;">

         <div id="positiveDiv" style="float:left; width: 33%">
          <center> <h3> Trending Positive Sentiment </h3> </center>
          <ul id="positiveItemData" style="list-style-type: none;">

          </ul>
         </div> <!-- end div left -->

         <div id="neutralDiv" style="float:left; width: 33%">
          <center> <h3> Trending Neutral Sentiment </h3> </center>
          <ul id="neutralItemData" style="list-style-type: none;">
          </ul>          
         </div> <!-- end div center -->


         <div id="negativeDiv" style="float:left; width: 33%">
          <center> <h3> Trending Negative Sentiment </h3> </center>
          <ul id="negativeItemData" style="list-style-type: none;">
          </ul>          
         </div> <!-- end div right -->

      </div>
      <div style="clear:both"></div>
    </div> <!-- end container -->

    <footer>
      <center>
        <p>© 2015 <a href="mailto:davidszajngarten@gmail.com" target="_blank">David Szajngarten</a></p>
      </center>
    </footer>

    <!-- FOR EMBED-JS, CSS, & JQUERY, OEMBED  -->
    <script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.jscroll.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.sticky.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>

    <script type=text/javascript src="{{url_for('static', filename='jquery.embed.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.oembed.js') }}"></script>

    <!-- Load d3.js and c3.js -->
    <script type=text/javascript src="{{url_for('static', filename='d3.min.js') }}" charset="utf-8"></script>
    <script type=text/javascript src="{{url_for('static', filename='c3.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='d3.layout.cloud.js') }}"></script>

    <!-- FOR JQUERY, UNDERSCORE, BACKBONE -->
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  </body>
</html>


