<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Manage JSON Requests</h3>
      </div>
      <hr/>


      <div>
        
      This is the JSON data, as an array of objects:<br />

      <ul>
      {% for item in jsondata %}
        <li>{{item._source.item_url}}</li>
      {% endfor %}
      </ul>


      This is the JSON data, as a string:<br />
      <pre>{{jsondata}}</pre>

      </div>
 

      </div>
    </div>
  </body>
</html>
 