<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">

    <script>
      function init() {
        $("a.embed").oembed();
      }
      window.onload = init;
    </script>          

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Social News Generator: Trending Thoughts</h3>
      </div>
      <hr/>


      <div class="pagination-holder clearfix">
       <div id="light-pagination" class="pagination"></div>
     </div>

      <div style="width: 100%;">

         <div style="float:left; width: 100%"> <!-- div left -->

          Top 10 Positive Items:<br />
          <ul>
          {% for item in jsondata_left %}
            <li>Sentiment: {{item.sentiment}} 
                Polarity: {{item.polarity}}  
                Subjectivity: {{item.subjectivity}}  
                Favourites: {{item.favorite_count}}  
                Friends: {{item.friends_count}}  
                Followers:  {{item.followers_count}}
                {% if item.source == "twitter" %}
                  {{oembed_tweet(item.item_id)}}
                {% else %}
                  <a href="{{item.item_url}}" class="embed"></a>
                {% endif %}
            </li>
          {% endfor %}
          </ul>
         </div> <!-- end div left -->


      </div>
      <div style="clear:both"></div>



 

    </div> <!-- end container -->




    <!-- FOR EMBED-JS, CSS, & JQUERY, OEMBED  -->
    <link rel="stylesheet" href="jquery.embed.css"/>
    <link rel="stylesheet" href="http://localhost:5000/static/simplePagination.css"/>
    <script src="http://localhost:5000/static/jquery.min.js"></script>
    <script src="http://localhost:5000/static/jquery.simplePagination.js"></script>
    <script src="http://localhost:5000/static/jquery.jscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
    <script src="jquery.embed.js"></script>
    <script src="jquery.oembed.css"></script>
    <script src="jquery.oembed_01.js"></script>        

    <!-- FOR JQUERY, UNDERSCORE, BACKBONE, & HANDLEBARS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <!-- <script src="handlebars-v3.0.3.js"></script> -->
    
    <!-- IMPORT MODELS AND TEMPLATES -->
    <!-- <script src="tweet.js"></script>
    <script src="helpers.js"></script> -->

    <script>
    $(function() {
        $("#light-pagination").pagination({
            items: {{total}},
            itemsOnPage: 10,
            cssStyle: 'light-theme',
            hrefTextPrefix:''
        });
    });

    $(document).ready(function(){
      $('.scroll').jscroll({
      loadingHtml: '<img src="loading.gif" alt="Loading" /> Loading...',
      padding: 20,
      nextSelector: 'a.jscroll-next:last',
      contentSelector: '.infinite-scroll'
      });
    });
    </script>

  </body>
</html>


